<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   UserDefaults.plist
   Solcounter

   Created by elliottcable on 14 766 ſ.
   Copyright 2010 yreality. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
